.container {
  padding: 0 2rem;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  filter: blur(4px);
  fill-opacity: 0.4;
  background-image: url(../../public/background.jpg);
  z-index: -1;
}
.main {
  /* * 100vh - Navbar height */
  min-height: calc(100vh - 80px);
  padding: 1rem 0;
}
