html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  scrollbar-width: 0;
  scrollbar-width: 1px;
}
body {
  z-index: -2;
  background-color: #43455c;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*! ---- SCROLLBAR ---- */
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #2e3047;
}
::-webkit-scrollbar-thumb {
  background: #43455c;
}
::-webkit-scrollbar-thumb:hover {
  background: #3c3f58;
}
