.banner {
  margin: 0;
  font-size: 4.75em;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.p {
  font-size: 1.5em;
}
.main {
  /** calc( 100vh - Navbar height ) */
  min-height: calc(100vh - 80px);
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .buttonLink {
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
}

.buttonLink {
  text-decoration: none;
  background-color: #3bba9c;
  color: white;
  padding: 0.75em 1.25em;
  border: 1px inherit solid;
  width: fit-content;
  border-radius: 3em;
  transition: 0.3s ease 0s;
}
.buttonLink:hover {
  background-color: #2e3047;
  color: white;
}
